<div id="<%= dom_id classroom %>">
  <p>
    <strong>Start date:</strong>
    <%= classroom.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= classroom.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= classroom.status %>
  </p>

</div>
