<h1>Alunos</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.email %></td>
        <td>
          <%= link_to "Mostrar", student %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Novo aluno", new_student_path %>
