<h1>Editando usuário</h1>

<%= render "form_responsible", user: @responsible %>

<br>

<div>
  <%= link_to "Mostrar", responsible_path(@responsible) %> |
  <%= link_to "Voltar", responsibles_path %>
</div>
