<div id="<%= dom_id course %>">
  <h3><%= @context %></h3>
  <p>
    <strong>Nome:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Coordenador:</strong>
    <%= course.user.name %>
  </p>

</div>
