<div id="<%= dom_id course %>">
  <h3><%= @context %></h3>
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Responsible:</strong>
    <%= course.user.name %>
  </p>

</div>
