<body>
  <div class="container-register">
    <h2>Cadastre sua Org</h2>
    <div class="line"></div>
    <%= form_with model: @organization, url: organizations_path do |form| %>
      <%= form.text_field :name, class: 'input', placeholder: 'Nome...' %>
      <%= form.submit "Cadastrar", class: "buttonRegister" %>
    <% end %>
  </div>
</body>