<p style="color: green"><%= notice %></p>

<h1>Reportes</h1>

<div id="reports">
  <% @reports.each do |report| %>
    <%= render report %>
    <p>
      <%= link_to "Mostrar", report %>
    </p>
  <% end %>
</div>

<% if user_signed_in? && !current_user.is_responsible %>
  <%= link_to "Novo", new_report_path %>
<% end %>
